[Desktop Entry]
Type=Application
Name=WayLand-Snip
GenericName=Screenshot Tool
Comment=GNOME Wayland 截图 + 贴图 + 标注工具
Exec=/usr/local/bin/gnome-snip
Icon=wayland-snip
Terminal=false
Categories=Utility;Graphics;
Keywords=screenshot;snip;capture;
StartupNotify=false
